* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    margin: 30px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 40px;
}

.cont img {
    display: flex;
    flex-direction: column;


}

.cont {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    background: rgb(208, 200, 200);
}


.container1 h3 {
    width: 205px;
    background: skyblue;
    padding: 15px;
    margin-bottom: 25px;
}

.container1 p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}

.btn1 {
    padding: 11px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(46deg, blue, red);
    color: white;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.para1 {
    font-size: 23px;
    line-height: 50px;
    font-family: 'montserret', sans-serif;
}

.para1 p span {
    font-weight: bold;

}

.para1 img {
    display: flex;
    width: 250px;
    justify-content: left;
}

.cont1 {
    display: flex;
    justify-content: center;
}

.cont1 h1 {
    font-weight: bold;
    margin-bottom: 4vw;
    margin-top: 10vw;
}

.mainBox {
    padding: 30px;
    background: skyblue;
    border-radius: 20px;
}

/* .containerOne {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    margin: 10vw 30vw;
} */
.containerOne {
    margin: 300px 500px;
    background: white;
    border: 2px solid black;
}

.con1 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: 50px 200px;

}


button {
    /* text-align: left; */
    margin: 10px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 20px;
}

.btn2 {
    left: 0;
    background: blue;
    color: white;
}

/* .containerOne p {
    margin-left: -18vw;

} */